@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@900&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Big Shoulders, sans-serif;
    font-weight: 900;
}